# importing libraries

In [1]:
import mysql.connector as connector
from sqlalchemy import create_engine
import pandas as pd

In [2]:
dataframe = pd.read_csv("data.csv",index_col=0)

In [3]:
dataframe

   First_Name Last_Name  Salary               Email_Id
ID
1       Neeta    Korade   59000     neetak12@gmail.com
2      Sushma     Singh   62000  sushsingh67@gmail.com
3      Kavita    Rathod   27000    kavitar09@gmail.com
4   Mrunalini  Deshmukh   88000    mrunald78@gmail.com
5       Swati     Patel   34000     swatip67@gmail.com
6       Laxmi     Kadam   44000     laxmik14@gmail.com
7      Lalita      Shah   66000     lalita45@gmail.com
8      Savita  Kulkarni   31000    savitak56@gmail.com
9    Shravani   Jaiswal   38000  shravanij39@gmail.com
10     Shweta      Wagh   20000    shwetaw03@gmail.com

In [4]:
class DatabasePipeline:
    def __init__(self,username, password, database):
        self.username = username
        self.password = password
        self.database = database
        try:
            self.my_database = connector.connect(
                host = "localhost",
                user = self.username,
                password = self.password,
                database = self.database
            )
            if(self.my_database.is_connected()):
                print("INFO Connected with database")
        
        except connector.Error as e:
            print("INFO Connection Fialed")
            raise ValueError(str(e))
            
    def Create(self, dataframe):
        self.cursor = self.my_database.cursor()
        self.cursor.execute("SHOW TABLES")
        tables = self.cursor.fetchall()
        print("Tables: ", tables)

        try:
            engine = create_engine(f"mysql+mysqlconnector://{self.username}:{self.password}@localhost/{self.database}")
            dataframe.to_sql(name=tables[0][0], con=engine, if_exists='replace', index=True)
            print("Data inserted successfully!")
        except IntegrityError as e:
            print("Error: Duplicate entry for primary key. Update the existing records instead.")


    def Read(self, query = "SELECT * FROM employees"):
        
        self.cursor.execute(query)
        rows = self.cursor.fetchall()
        for row in rows:
            print(row)
            print("\n")

    def Update(self, query="UPDATE employees SET Salary = 10000000 WHERE ID = 1"):
        # Fetch and print the results before the update
        print("Results before update:\n\n ")
        self.Read()

        try:
            # Execute the update query
            self.cursor.execute(query)
            self.my_database.commit()
            print("Update successful")
        except connector.Error as e:
            self.my_database.rollback()
            print(f"Error occurred during update: {str(e)}")

        # Fetch and print the results after the update
        print("\n\nResults after update:")
        self.Read()


    def Delete(self, condition="salary = 44000"):
        delete_query = f"DELETE FROM table_name WHERE {condition}"
        try:
            self.cursor.execute(delete_query)
            self.my_database.commit()
            print("Deletion successful")
        except connector.Error as e:
            self.my_database.rollback()
            print(f"Error occurred during deletion: {str(e)}")

    def __del__(self):
        self.cursor.close()
        self.my_database.close()

In [5]:
CRUD = DatabasePipeline("talha", "izmeh", "practiceDB")

INFO Connected with database

In [6]:
CRUD.Create(dataframe)

Tables:  [('employees',)]

NameError: name 'IntegrityError' is not defined

In [ ]:
CRUD.Read()

In [ ]:
CRUD.Update()

In [ ]:
CRUD.Delete()