# Assignment REST API Topics
- Get different types of respose from API endpoint (CRUD)
- Check for Response Code Eg (404, 403, 200)
- Visualize response (JSON/XML)
- Difference Between api versions
- Store Useful Data in tabular form (dataframe)

## For this assignment I will be using quran.com api to extract data and store it in Dataframe

# Get different types of respose from API endpoint (CRUD)

**requests**

---

Requests is a python library used for making HTTP resquest and store respose either in JSON , XML or binary

**Endpoint**


---


In an API, an endpoint is a specific URL or URI that represents a resource or functionality provided by the API. It serves as the target location for accessing or manipulating data through HTTP requests.

## https://api.quran.com/api/{endpoint}

## https://api.quran.com/api/v3/chapters/3

In [ ]:
import requests

url = "https://api.quran.com/api/v3/chapters/3"

# Check for Response Code Eg (404, 403, 200)



*   response = 404 - Not Found
*   response = 403 - Forbidden
*   response = 200 - OK

In [ ]:
response = requests.get(url)
print("Respose Cocde: ",response.status_code)

Respose Cocde:  200

# Visualize response (JSON/XML)

In [ ]:
response.json()

{'chapter': {'id': 3,
  'revelation_place': 'madinah',
  'revelation_order': 89,
  'bismillah_pre': True,
  'name_simple': "Ali 'Imran",
  'name_complex': 'Āli `Imrān',
  'name_arabic': 'آل عمران',
  'verses_count': 200,
  'pages': [50, 76],
  'chapter_number': 3,
  'translated_name': {'language_name': 'english', 'name': 'Family of Imran'}}}

# Difference Between api versions


1.   https://api.quran.com/api/v3/chapters/3 (here **v3** means version-3 of this api)  
there
can be multiple versions of same api
2.   For instance **v4** of this api is also available

In [ ]:
print("******************************")
print("[INFO] Version-3 API response")
print("******************************\n")

print(requests.get("https://api.quran.com/api/v3/chapters/3").json())

print("\n\n******************************")
print("[INFO] Version-4 API response")
print("******************************\n")

print(requests.get("https://api.quran.com/api/v4/chapters/3").json())

******************************
[INFO] Version-3 API response
******************************

{'chapter': {'id': 3, 'revelation_place': 'madinah', 'revelation_order': 89, 'bismillah_pre': True, 'name_simple': "Ali 'Imran", 'name_complex': 'Āli `Imrān', 'name_arabic': 'آل عمران', 'verses_count': 200, 'pages': [50, 76], 'chapter_number': 3, 'translated_name': {'language_name': 'english', 'name': 'Family of Imran'}}}


******************************
[INFO] Version-4 API response
******************************

{'chapter': {'id': 3, 'revelation_place': 'madinah', 'revelation_order': 89, 'bismillah_pre': True, 'name_simple': "Ali 'Imran", 'name_complex': 'Āli `Imrān', 'name_arabic': 'آل عمران', 'verses_count': 200, 'pages': [50, 76], 'translated_name': {'language_name': 'english', 'name': 'Family of Imran'}}}

# Store Useful Data in tabular form (dataframe)

In [ ]:
import requests

# {'id': 3,
#   'revelation_place': 'madinah',
#   'revelation_order': 89,
#   'bismillah_pre': True,
#   'name_simple': "Ali 'Imran",
#   'name_complex': 'Āli `Imrān',
#   'name_arabic': 'آل عمران',
#   'verses_count': 200,
#   'pages': [50, 76],
#   'chapter_number': 3,
#   'translated_name': {'language_name': 'english', 'name': 'Family of Imran'}}


def get_data() :
  try:

    extracted_data = {}
    for i in range(1, 115):
      url = f"https://api.quran.com/api/v3/chapters/{i}"
      response = requests.get(url)
      chapter_info = response.json()

      extracted_data[i] = {
          "id": chapter_info["chapter"]["id"],
          "name_simple": chapter_info["chapter"]["name_simple"],
          "revelation_city": chapter_info["chapter"]["revelation_place"],
          "verses_count": chapter_info["chapter"]["verses_count"],
          "translated_name": chapter_info["chapter"]["translated_name"]["name"],
      }

    return extracted_data

  except requests.exceptions.HTTPError as e:
    print(e.respose.text)


raw_data = get_data()

# Making Dataframe pandas with specific columns

In [ ]:
import pandas as pd

df = pd.DataFrame.from_dict(raw_data, orient='index', columns=['id', 'name_simple', 'revelation_city', 'verses_count', 'translated_name'])

In [ ]:
df.head()

   id name_simple revelation_city  verses_count   translated_name
1   1  Al-Fatihah          makkah             7        The Opener
2   2  Al-Baqarah         madinah           286           The Cow
3   3  Ali 'Imran         madinah           200   Family of Imran
4   4     An-Nisa         madinah           176         The Women
5   5  Al-Ma'idah         madinah           120  The Table Spread